  <div class="row-center">
    <div class=".col-md-6 col-md-offset-3">
          <div class="card">  
            <div class="card-block">                  
              <h4 class="card-title"><%= article.title %></h4>
                <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>    
                <p> <%= article.tag_list %> </p>            
            </div>
            <div class="card-footer">
                <btn class="btn btn-info"><%= link_to 'Show', article %></btn>
                <btn class="btn btn-success"><%= link_to 'Edit', edit_article_path(article) %></btn>
                <btn class="btn btn-warning"><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %></btn>
            </div>
    </div> 
  </div>