<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class=".col-xs-8 .col-sm-6 .col-md-8">
	    <div class="card">  
	    <div class="card-block">  
			<p>
			  <strong>Title:</strong>
			  <%= @article.title %>
			</p>
			  <strong>Body:</strong>
			  <%= @article.body %>
			</p>

			<p>
			  <strong>View:</strong>
			  <%= @article.views %>
			</p>
			<p>
			  Tags:
			  <% @article.tags.each do |tag| %>
			    <%= link_to tag.name, tag_path(tag) %>
			  <% end %>
			</p>

			<%= link_to 'Edit', edit_article_path(@article) %> 
</div>
</div>
</div>



	<div class="container">
		<p>
		<strong>Comments(<%= @article.comments.size %>)</strong>
		<%= render partial: 'articles/comment', collection: @article.comments %>
		</p>
		<%= render partial: 'comments/form' %>

		<%= link_to 'Back', articles_path %>
</div>

</div>
