<!DOCTYPE html>
<html>
  <head>
    <title>Jade</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	
  	<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href=#></a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <%= link_to 'Home', root_path %> <span class="sr-only">(current)</span></a>
      
    </ul>
      <%= form_tag(articles_path, :method => "get", class: "navbar-form form-inline pull-xs-right", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], class: " form-control", placeholder: "Search" %>   
      	<button class="btn btn-success-outline "  type="submit">Submit</button>	
  	  <% end %>

  	 
  </nav>

  <%= yield %>

  </body>
</html>
